body {
    background-color: #003300;
}

.title h1 {
    color: #009e34;
}

.title h3 {
    color: #175ff5;
}

.title {
    background-color: #005a1c;
}

.menu {
    background-color: #005a1c;
}

.menu button {
    background-color: #175ff5;
    color: #ffffff;
}
